<a href="https://colab.research.google.com/github/suphakan111/python5/blob/main/Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

รหัสนักศึกษา : 66015xxx ชื่อ :

Exercise 5.1 ให้เขียน function ชื่อ day_of_year(day, month ,year) โดยมีการคืนค่า คือ day_of_years เป็นวันที่ลำดับที่เท่าใดของปีคริสตศักราช year
ปีที่เป็น Leap Year เดือนกุมภาพันธ์จะมี 29 วัน
ให้สร้างฟังก์ชัน is_leap เพื่อตรวจสอบ leap year แยกออกมา และให้ฟังก์ชัน day_of_year เรียกใช้ is_leap อีกที

In [ ]:
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def leap_year(year):
  if year%4 == 0 and year%100 != 0 or year%400 == 0:
    return True
  else :
    return False

def day_of_year(day, month, year):
  sumn=0
  if leap_year(year):
    days_in_month[1] = 29
  else:
    days_in_month[1]= 28
  sumn = sum(days_in_month[:month-1])+day
  return sumn

# Testcases
print("Normal year (2023):")
print(f"1 Jan 2023: {day_of_year(1, 1, 2023)}")  # ควรได้ 1
print(f"1 Feb 2023: {day_of_year(1, 2, 2023)}")  # ควรได้ 32
print(f"1 Mar 2023: {day_of_year(1, 3, 2023)}")  # ควรได้ 60
print(f"31 Dec 2023: {day_of_year(31, 12, 2023)}")  # ควรได้ 365

print("\nLeap year (2024):")
print(f"1 Jan 2024: {day_of_year(1, 1, 2024)}")  # ควรได้ 1
print(f"29 Feb 2024: {day_of_year(29, 2, 2024)}")  # ควรได้ 60
print(f"1 Mar 2024: {day_of_year(1, 3, 2024)}")  # ควรได้ 61
print(f"31 Dec 2024: {day_of_year(31, 12, 2024)}")  # ควรได้ 366

print("\nCentury year, not a leap year (1900):")
print(f"1 Mar 1900: {day_of_year(1, 3, 1900)}")  # ควรได้ 60

print("\nCentury year, leap year (2000):")
print(f"1 Mar 2000: {day_of_year(1, 3, 2000)}")  # ควรได้ 61

print("\nMid-year dates:")
print(f"15 Jun 2023: {day_of_year(15, 6, 2023)}")  # ควรได้ 166
print(f"15 Jun 2024: {day_of_year(15, 6, 2024)}")  # ควรได้ 167 (Leap year)

print("\nLast day of each quarter:")
print(f"31 Mar 2023: {day_of_year(31, 3, 2023)}")  # ควรได้ 90
print(f"30 Jun 2023: {day_of_year(30, 6, 2023)}")  # ควรได้ 181
print(f"30 Sep 2023: {day_of_year(30, 9, 2023)}")  # ควรได้ 273
print(f"31 Dec 2023: {day_of_year(31, 12, 2023)}")  # ควรได้ 365

Normal year (2023):
1 Jan 2023: 1
1 Feb 2023: 32
1 Mar 2023: 60
31 Dec 2023: 365

Leap year (2024):
1 Jan 2024: 1
29 Feb 2024: 60
1 Mar 2024: 61
31 Dec 2024: 366

Century year, not a leap year (1900):
1 Mar 1900: 60

Century year, leap year (2000):
1 Mar 2000: 61

Mid-year dates:
15 Jun 2023: 166
15 Jun 2024: 167

Last day of each quarter:
31 Mar 2023: 90
30 Jun 2023: 181
30 Sep 2023: 273
31 Dec 2023: 365

Exercise 5.2 ให้เขียนฟังก์ชัน เพิ่มเติมเป็น date_diff
รับข้อมูลในรูปแบบ “dd-mm-yyyy” เช่น date_diff(“1-1-2018”, “1-1-2020”) จะได้ 731 วัน date_diff(“25-12-1999”, “9-3-2000”) จะได้ 76 วัน
ให้เขียนฟังก์ชัน day_in_year โดยจะส่งค่าจำนวนวันของปี (365 หรือ 366) โดยรับข้อมูลเป็น ปี
ส่งคืนข้อมูลเป็นจำนวนวันตั้งแต่วันที่แรก จนถึงวันที่สอง โดยรวมทั้ง 2 วันนั้นเข้าไปด้วย
ให้สมมติว่าวันแรก จะต้องมาก่อนวันที่สองเสมอ ดังนั้นไม่ต้องตรวจสอบ

In [ ]:
def is_leap(year):
  if year%4 == 0 and year%100 != 0 or year%400 == 0:
    return True
  else :
    return False

def day_of_month(month, year):
  if month in [1,3,5,7,8,10,12]:
    return 31
  elif month in [4,6,9,11]:
    return 30
  elif month == 2:
    if is_leap(year):
      return 29
    else:
      return 28

def day_in_year(year):
    return 366 if is_leap(year) else 365

def date_diff(date1, date2):
  d1,m1,y1 = date1.split("-")
  d2,m2,y2 = date2.split("-")
  day1 = int(d1)
  for month in range(1,int(m1)):
    day1 += day_of_month(month,int(y1))
  day2 = int(d2)
  for month in range(1,int(m2)):
    day2 += day_of_month(month,int(y2))

  day_on_year = 0
  for year in range(int(y1),int(y2)):
    day_on_year += day_in_year(year)
  return day_on_year - day1 + day2 +1
# ทดสอบฟังก์ชัน
print(date_diff("1-1-2018", "1-1-2020"))  # ควรได้ 731
print(date_diff("25-12-1999", "9-3-2000"))  # ควรได้ 76
print(date_diff("1-1-2000", "1-1-2001"))  # ควรได้ 367 (ปี 2000 เป็น leap year)
print(date_diff("1-1-2001", "1-1-2002"))  # ควรได้ 366 (ปี 2001 ไม่ใช่ leap year)
print(date_diff("1-3-2000", "1-3-2001"))  # ควรได้ 367 (ข้ามปี leap year)
print(date_diff("1-1-2023", "31-12-2023"))  # ควรได้ 365 (ทั้งปี 2023)

731
76
367
366
366
365

Exercise 5.3 จากโปรแกรม 5.2 ให้เขียนฟังก์ชัน date_diff  เพิ่มเติม โดยให้มีการตรวจสอบ
วันที่ต้องเป็นวันที่ถูกต้องของเดือนนั้นๆ
เดือนต้องอยู่ระหว่าง 1-12
เดือนกุมภาพันธ์ของปีที่มี Leap Year เท่านั้นที่จะมี 29 วันได้
หากข้อมูล Input ผิดพลาด ให้ Return -1

In [ ]:
def is_leap(year):
  if year%4 == 0 and year%100 != 0 or year%400 == 0:
    return True
  else :
    return False

def day_of_month(month, year):
  if month in [1,3,5,7,8,10,12]:
    return 31
  elif month in [4,6,9,11]:
    return 30
  elif month == 2:
    if is_leap(year):
      return 29
    else:
      return 28

def is_check_monorday(day,month,year):
    if month < 1 or month > 12:
      return False
    if day < 1 or day > day_of_month(month,year):
      return False
    return True

def day_in_year(year):
    return 366 if is_leap(year) else 365

def date_diff(date1, date2):
  try:
      d1,m1,y1 = date1.split("-")
      d2,m2,y2 = date2.split("-")
  except ValueError:
    return -1
  if not (is_check_monorday(int(d1),int(m1),int(y1)) and is_check_monorday(int(d2),int(m2),int(y2))):
    return -1

  day1 = int(d1)
  for month in range(1,int(m1)):
    day1 += day_of_month(month,int(y1))
  day2 = int(d2)
  for month in range(1,int(m2)):
    day2 += day_of_month(month,int(y2))

  day_on_year = 0
  for year in range(int(y1),int(y2)):
    day_on_year += day_in_year(year)
  return day_on_year - day1 + day2 +1

# ทดสอบฟังก์ชัน
print(date_diff("1-1-2018", "1-1-2020"))  # ควรได้ 731
print(date_diff("25-12-1999", "9-3-2000"))  # ควรได้ 76
print(date_diff("1-1-2000", "1-1-2001"))  # ควรได้ 367 (ปี 2000 เป็น leap year)
print(date_diff("1-1-2001", "1-1-2002"))  # ควรได้ 366 (ปี 2001 ไม่ใช่ leap year)
print(date_diff("1-3-2000", "1-3-2001"))  # ควรได้ 367 (ข้ามปี leap year)
print(date_diff("1-1-2023", "31-12-2023"))  # ควรได้ 365 (ทั้งปี 2023)

# ทดสอบกรณีข้อมูลไม่ถูกต้อง
print(date_diff("31-4-2023", "1-5-2023"))  # ควรได้ -1 (เดือนเมษายนมี 30 วัน)
print(date_diff("29-2-2023", "1-3-2023"))  # ควรได้ -1 (ปี 2023 ไม่ใช่ leap year)
print(date_diff("1-13-2023", "1-1-2024"))  # ควรได้ -1 (เดือนไม่ถูกต้อง)
print(date_diff("abc", "1-1-2024"))  # ควรได้ -1 (รูปแบบวันที่ไม่ถูกต้อง)

731
76
367
366
366
365
-1
-1
-1
-1

1.	ปลาหมอคางดำเพศเมีย 1 ตัว เมื่ออายุครบ 2 เดือน จะสามารถสืบพันธ์ได้ โดยระยะเวลาตั้งท้องจนถึง
วางไข่ของตัวเมียจะใช้เวลา 21 วัน และฟักในปากเพศผู้อีก 7 วัน (สามารถรวมเป็น 1 เดือนได้) โดยออกไข่ครั้งละ 300 ฟอง กำหนดให้ไข่ฟักเป็นเพศผู้และเพศเมียอย่างละครึ่ง และเมื่อวางไข่แล้วจะสามารถสืบพันธ์ต่อได้ทันที กำหนดให้ปลามีอายุ 5 ปี และปลาทั้งหมดจะตาย p% ทุก 1 เดือน จงหาว่าปลาหมอคางดำหลุดจากฟาร์ม n ตัวเป็นเพศผู้และเพศเมียอย่างละครึ่ง จงเขียนโปรแกรมรับค่า n และ p ให้แสดงผลจำนวนปลาทุก 3 เดือน เป็นเวลา 10 ปี ให้เขียนเป็นฟังก์ชัน ชื่อ simulate_fish_population()

In [93]:
import math

def simulate_fish_population(n, p, months=3):
    import math
    total_months = 10 * 12
    male_fish = n // 2
    female_fish = n // 2
    def apply_mortality(fish_count, mortality_rate):
        return fish_count * (1 - mortality_rate / 100)
    def reproduce(female_fish):
        new_fish = female_fish * 300
        return new_fish // 2, new_fish // 2
    for month in range(1, total_months + 1):
        male_fish = apply_mortality(male_fish, p)
        female_fish = apply_mortality(female_fish, p)
        if month % 1 == 0:
            new_male_fish, new_female_fish = reproduce(female_fish)
            male_fish += new_male_fish
            female_fish += new_female_fish
        if month % months == 0:
            print(f"Month {month}: Male Fish = {math.floor(male_fish)}, Female Fish = {math.floor(female_fish)}")
simulate_fish_population(10, 10)


# Run simulation
n = 2  # Initial number of fish
p = 10  # Monthly mortality rate

# simulate_fish_population(n, p)

# ถ้าเริ่มต้นด้วยปลา 2 ตัว ตายเดือนละ 10%
# เดือนที่ 1 ไข่ 300 ไบ
# เดือนที่ 2 ไข่ 300 ใบ + ลูกปลา 270 ตัว
# เดือนที่ 3 ไข่ 300 ใบ + ลูกปลา 270 ตัว + ปลาโตเต็มวัย 243 ตัว + 2 = 515 ตัว

Month 3: Male Fish = 12549488, Female Fish = 12549488
Month 6: Male Fish = 31498101960211, Female Fish = 31498101960211
Month 9: Male Fish = 79057441377026228224, Female Fish = 79057441377026228224
Month 12: Male Fish = 198427163801079396754784256, Female Fish = 198427163801079396754784256
Month 15: Male Fish = 498034576484309649079769396936704, Female Fish = 498034576484309649079769396936704
Month 18: Male Fish = 1250022600849957007352146804861871063040, Female Fish = 1250022600849957007352146804861871063040
Month 21: Male Fish = 3137445824878222268933677380072719292360032256, Female Fish = 3137445824878222268933677380072719292360032256
Month 24: Male Fish = 7874710663113310885206482527352101239666322387763200, Female Fish = 7874710663113310885206482527352101239666322387763200
Month 27: Male Fish = 19764825112209673765461487637188632927773328160718537621504, Female Fish = 19764825112209673765461487637188632927773328160718537621504
Month 30: Male Fish = 49607957476597496841288673259372867620102422338919184991617286144, Female Fish = 49607957476597496841288673259372867620102422338919184991617286144
Month 33: Male Fish = 124511571998664426687828127450891990917829597057639459467840303761719296, Female Fish = 124511571998664426687828127450891990917829597057639459467840303761719296
Month 36: Male Fish = 312512998925468436159298063639796998646744120952411178017354680361432870027264, Female Fish = 312512998925468436159298063639796998646744120952411178017354680361432870027264
Month 39: Male Fish = 784379900837148046254157806435789692460249702794216012779517779715568319796107804672, Female Fish = 784379900837148046254157806435789692460249702794216012779517779715568319796107804672
Month 42: Male Fish = 1968723960132059349679539983793770600749859701939800885098987134384867076797131557674418176, Female Fish = 1968723960132059349679539983793770600749859701939800885098987134384867076797131557674418176
Month 45: Male Fish = 4941322472773001546650080640621411225900540301101717184681300307567562281240979201059828856258560, Female Fish = 4941322472773001546650080640621411225900540301101717184681300307567562281240979201059828856258560
Month 48: Male Fish = 12402281007589124527920417668321687745454802246434970595007972849672653351925941882576433947911412252672, Female Fish = 12402281007589124527920417668321687745454802246434970595007972849672653351925941882576433947911412252672
Month 51: Male Fish = 31128624986275423366832413043373804665304356008928915656729214909343721345088406970948888097024775091835109376, Female Fish = 31128624986275423366832413043373804665304356008928915656729214909343721345088406970948888097024775091835109376
Month 54: Male Fish = 78130086952813918745037869665188599677316305758140667881455630625841597244276432089821236053733131689764813289816064, Female Fish = 78130086952813918745037869665188599677316305758140667881455630625841597244276432089821236053733131689764813289816064
Month 57: Male Fish = 196099586472118437053222278362622631090873780111123374280039439794357462066990182415768225160024724732494909729424004874240, Female Fish = 196099586472118437053222278362622631090873780111123374280039439794357462066990182415768225160024724732494909729424004874240
Month 60: Male Fish = 492192563893605919841153786074687627577720841509871547987485554984492411251208651741754452507279211921941467352038124210691768320, Female Fish = 492192563893605919841153786074687627577720841509871547987485554984492411251208651741754452507279211921941467352038124210691768320
Month 63: Male Fish = 1235359667556489876986781702014482256509643478525104486308946057850890713437499321584935852751764581637659447563235706343271662325071872, Female Fish = 1235359667556489876986781702014482256509643478525104486308946057850890713437499321584935852751764581637659447563235706343271662325071872
Month 66: Male Fish = 3100643163221724834120357981158596752564816204518118899016538302128153449472333447161006030613524696580166376336411597977076065392417912651776, Female Fish = 3100643163221724834120357981158596752564816204518118899016538302128153449472333447161006030613524696580166376336411597977076065392417912651776
Month 69: Male Fish = 7782339247524445356182233450076668220157257882414819205427829249339615760797696510148770725494158232202673741101117130543771507569461725195956912128, Female Fish = 7782339247524445356182233450076668220157257882414819205427829249339615760797696510148770725494158232202673741101117130543771507569461725195956912128
Month 72: Male Fish = 19532981054365977183556746268893656658696551773442257348244431668512239603049156598575480691874773468947616999703278423985631369175013081755614706705367040, Female Fish = 19532981054365977183556746268893656658696551773442257348244431668512239603049156598575480691874773468947616999703278423985631369175013081755614706705367040
Month 75: Male Fish = 49026049460846471520997705261297541590969944439976974924698640208607060167121472438660523123444410735325224334060137557462183836465397777036660936386680148983808, Female Fish = 49026049460846471520997705261297541590969944439976974924698640208607060167121472438660523123444410735325224334060137557462183836465397777036660936386680148983808
Month 78: Male Fish = 123051034506590462496376304049481270577572556054083762026202695681996895870596433263869193025368384269658605413786725244172349407698845215522167549815182020459871862784, Female Fish = 123051034506590462496376304049481270577572556054083762026202695681996895870596433263869193025368384269658605413786725244172349407698845215522167549815182020459871862784
Month 81: Male Fish = 308847179400709631006208238075111674184396834284640888272930833079379786454429947300243825994583957174184430453715854196678306158801124222265814513333725204437700453421023232, Female Fish = 308847179400709631006208238075111674184396834284640888272930833079379786454429947300243825994583957174184430453715854196678306158801124222265814513333725204437700453421023232
Month 84: Male Fish = 775179019065177614655414175825052347345392963982651898280113733644233454317701003182344282264610322022274386124409484403120366124625759627441132082350067666169008361588029866901504, Female Fish = 775179019065177614655414175825052347345392963982651898280113733644233454317701003182344282264610322022274386124409484403120366124625759627441132082350067666169008361588029866901504
Month 87: Male Fish = 1945630563195845332822948731245939328508262121656327580337506412142952823270653196648082563585678103043103166843429057163434234240555791200083445559157845903817011971535535832533630451712, Female Fish = 1945630563195845332822948731245939328508262121656327580337506412142952823270653196648082563585678103043103166843429057163434234240555791200083445559157845903817011971535535832533630451712
Month 90: Male Fish = 4883360095332374030378327005590975382102248818927414824206306551176809793292397705524918076208709273257777361200325175902758762751165137712700627015989222344149576656250676860922782133419769856, Female Fish = 4883360095332374030378327005590975382102248818927414824206306551176809793292397705524918076208709273257777361200325175902758762751165137712700627015989222344149576656250676860922782133419769856
Month 93: Male Fish = 12256800582693243754694430338387280300598352729809075404889559872850055238195627365059485582173155027844872360473590089421287584974970277593107771473336867032801133360985916918994653267521306145849344, Female Fish = 12256800582693243754694430338387280300598352729809075404889559872850055238195627365059485582173155027844872360473590089421287584974970277593107771473336867032801133360985916918994653267521306145849344
Month 96: Male Fish = 30763482026955542474612025506042535556978614919582240073540656772568312027875863716362780573605921135075690834977536738843310092357485201971430253814958498758579971547896630865646071047877107133115952791552, Female Fish = 30763482026955542474612025506042535556978614919582240073540656772568312027875863716362780573605921135075690834977536738843310092357485201971430253814958498758579971547896630865646071047877107133115952791552
Month 99: Male Fish = 77213610520769518736706972138926611762342671578712525059128126233169503764549316517990297766175548633629740512668086094628293812121121805516527729212834288741478665080537267863962351643067941211356044113465049088, Female Fish = 77213610520769518736706972138926611762342671578712525059128126233169503764549316517990297766175548633629740512668086094628293812121121805516527729212834288741478665080537267863962351643067941211356044113465049088
Month 102: Male Fish = 193799311938392485421598845494738977298473744925281801482577008120247050115229521849056148605912579071898500821035359055461435549007412640085741109244262328225789882152836849191764650439072882350310413169741702883180544, Female Fish = 193799311938392485421598845494738977298473744925281801482577008120247050115229521849056148605912579071898500821035359055461435549007412640085741109244262328225789882152836849191764650439072882350310413169741702883180544
Month 105: Male Fish = 486419078896610702768491638481959522718046394431797727744183984612823110623713962132081839437210392738694085156414181417175466997608274943994970087406267051364528555445043031419110787792031669239330679461260449543761132781568, Female Fish = 486419078896610702768491638481959522718046394431797727744183984612823110623713962132081839437210392738694085156414181417175466997608274943994970087406267051364528555445043031419110787792031669239330679461260449543761132781568
Month 108: Male Fish = 1220868732443393911052119043731587990581587692642785021281913582009856443100368237577184829340852868437333399143796606745826447061372200767929679184591727971985055331151943336118114165293237737486131813942688894578554695606056517632, Female Fish = 1220868732443393911052119043731587990581587692642785021281913582009856443100368237577184829340852868437333399143796606745826447061372200767929679184591727971985055331151943336118114165293237737486131813942688894578554695606056517632
Month 111: Male Fish = 3064272201738107799607882661255224503215981494998687232714592626900165243480331768650180793102596450667981479307782474274049011808647696761568354297478472554872148324429559241560991860174491372595381686497887697394640196268150871826628608, Female Fish = 3064272201738107799607882661255224503215981494998687232714592626900165243480331768650180793102596450667981479307782474274049011808647696761568354297478472554872148324429559241560991860174491372595381686497887697394640196268150871826628608
Month 114: Male Fish = 7691051361068641049834759770101546442947583166060336331565602275548470726193870656806840532502181043772006472210991954362125540017774464744289936088487812834661748595881464984911543926132415906237492796285026764305179485393930402104324325900288, Female Fish = 7691051361068641049834759770101546442947583166060336331565602275548470726193870656806840532502181043772006472210991954362125540017774464744289936088487812834661748595881464984911543926132415906237492796285026764305179485393930402104324325900288
Month 117: Male Fish = 19303856558514481190936466039257431391269365241973293448685030165765170235352336581526509927869693340231603549520296863968173944896245668132674167208994675129825041811510397117284784808748216605943119589958768321284661972056160636759092716804434296832, Female Fish = 19303856558514481190936466039257431391269365241973293448685030165765170235352336581526509927869693340231603549520296863968173944896245668132674167208994675129825041811510397117284784808748216605943119589958768321284661972056160636759092716804434296832
Month 120: Male Fish = 48450967304413618095292677601074759341291421509036395699591568649970616072682851190940323968968949153075999975633946050529726110450200413904918097830622341534625184877807119513284026149691193346824916416306278712489625337599496366236598308754054619724775424, Female Fish = 48450967304413618095292677601074759341291421509036395699591568649970616072682851190940323968968949153075999975633946050529726110450200413904918097830622341534625184877807119513284026149691193346824916416306278712489625337599496366236598308754054619724775424

2.	ให้เขียน function find_mismatch ซึ่งรับ string มา 2 ค่า โดยจะส่งค่ากลับดังนี้
- 0 เมื่อ string ทั้ง 2 ตัว เหมือนกัน โดยไม่สนใจ case
- 1 เมื่อ string 1 จะเหมือน string 2 โดยการลบและ/หรือเพิ่มตัวอักษรเพียง 1 ตัว
- 2 เมื่อ string ไม่เข้าเกณฑ์ 0 หรือ 1


| String  1| 	String2	|ผลลัพธ์|
|----------|----------|------|
|Python|	Java	|2|
|book	 |  boot	|1|
|fan	 |  fun	  |1|
|sin	 | sink	  |1 เพราะเพิ่ม k ใน str2 แล้วจะเหมือนกัน
|Dog	 | dog	  |0
|poke	 | spoke	|1 เพิ่ม s ใน str2 แล้วเหมือนกัน
|poker |	poke	|1 ตัด r ใน str1 ออกแล้วเหมือนกัน

In [ ]:
def find_mismatch(str1, str2):
  str1 = str1.lower()
  str2 = str2.lower()

  if str1 == str2 :
    return 0
  if abs(len(str1)-len(str2)) > 1:
    return 2

  if len(str2) == len(str1)+1:
    for i in range(len(str2)):
      if str2[:i]+str2[i+1:] == str1:
        return  1
  elif len(str1) == len(str2)+1:
    for i in range(len(str1)):
      if str1[:i]+str1[i+1:] == str2:
        return  1

  if len(str1)==len(str2):
    count = 0
    for i in range(len(str1)):
      if str1[i] != str2[i]:
        count+=1
        if count > 1:
          return 2
    return 1
print(find_mismatch("Python","Java"))
print(find_mismatch("book","boot"))
print(find_mismatch("fan","fun"))
print(find_mismatch("sin","sink"))
print(find_mismatch("Dog", "dog"))
print(find_mismatch("poke", "spoke"))
print(find_mismatch("poker", "poke"))

2
1
1
1
0
1
1

3.	จากข้อ 1 ให้เขียนฟังก์ชันชื่อ spelling_correction โดยรับ 2 argument ตัวแรกเป็นประโยค (string) และตัวที่ 2 เป็น list ของคำ (correct_spells) โดยฟังก์ชันนี้มีหน้าที่ตรวจสอบแต่ละ word ใน input string กับคำที่อยู่ใน correct_spells โดยค่าที่คืนกลับมาจะมีดังนี้ (พยายามเรียกใช้ฟังก์ชันในข้อ 1)
-	ถ้าคำที่อยู่ในประโยค ตรงกับคำที่อยู่ใน correct_spells ทุกอย่าง ก็จะ copy ไปที่ output string
-	ถ้าคำที่อยู่ในประโยค ต่างจากคำที่อยู่ใน correct_spells โดยต่างกัน 1 ตัวอักษร โดยการเปลี่ยน การเพิ่ม หรือการลบ 1 ตัวอักษร คำที่อยู่ในประโยคจะถูกเปลี่ยนโดยคำที่อยู่ใน correct_spells และนำไปใส่ output string
-	ถ้าคำที่ไม่พบในเงื่อนไขข้างต้นให้นำคำนั้นไปใส่ output string ได้เลย
-	คำที่ประกอบด้วย 1 หรือ 2 ตัวอักษรจะไม่ตรวจสอบ ให้นำคำนั้นไปใส่ output string ได้เลย
-	ถ้ามี 2 คำใน correct_spells ที่ตรงตามเงื่อนไข ให้ใช้คำแรก
-	ไม่สนใจตัวใหญ่ ตัวเล็ก
-	Input string จะมีได้เพียงอักษรภาษาอังกฤษเท่านั้น
-	ในแต่ละคำจะคั่นด้วย 1 space ถ้ามี space มากกว่านั้นให้ตัดออก และตัด space จากหัวท้ายประโยค

|ประโยค	|correct_spells	|output string |
|-------|---------------|-------------|
|Thes is the Firs cas	|[‘that’,’first’,’case’,’car’]|	thes is the first car|
|programming is fan and easy	|[‘programming’,’this’,’fun’,’easy’,book’]	|programming is fun and easy|
|Thes is vary essy	|[‘this’,’is’,’very’,’easy’]	|this is very easy|
|Wee ipve Pythen	|[‘we’,’live’,’ln’,’Python’]	|we live python|

In [90]:
def find_mismatch(str1, str2):
  str1 = str1.lower()
  str2 = str2.lower()

  if str1 == str2 :
    return 0
  if abs(len(str1)-len(str2)) > 1:
    return 2

  if len(str2) == len(str1)+1:
    for i in range(len(str2)):
      if str2[:i]+str2[i+1:] == str1:
        return  1
  elif len(str1) == len(str2)+1:
    for i in range(len(str1)):
      if str1[:i]+str1[i+1:] == str2:
        return  1

  if len(str1)==len(str2):
    count = 0
    for i in range(len(str1)):
      if str1[i] != str2[i]:
        count+=1
        if count > 1:
          return 2
    return 1
def spelling_correction(input_string, correct_spells):
  input_str = input_string.split()
  for i in range(len(input_str)):
    for j in range(len(correct_spells)):
      if find_mismatch(input_str[i], correct_spells[j]) == 1:
        input_str[i] = correct_spells[j]
  return " ".join(input_str)

print(spelling_correction("Thes is the Firs cas", ['that', 'first', 'case', 'car']))
print(spelling_correction("programming is fan and easy",['programming','this','fun','easy','book']))
print(spelling_correction("Thes is vary essy",['this', 'is', 'very', 'easy']))
print(spelling_correction("Wee ipve Pythen",['we', 'live', 'In', 'Python']))

Thes is the first case
programming is fun and easy
this is very easy
we ipve Python

4. ให้เขียนฟังก์ชัน find_word_horizontal ซึ่งจะรับ list ขนาด 2 มิติ ของตัวอักษร (คล้ายกับเกม cross word) และ word ซึ่งเป็น string เป็น argument โดยฟังก์ชันนี้ จะค้นหาตามแถวของ list เพื่อหาตำแหน่งที่มีอักษรตรงกับคำใน word ถ้าพบ จะส่งคืน row index และ column index ของตัวอักษรแรก ถ้าไม่พบจะส่งคืน None

```
crosswords=[['s','d','o','g'],
            ['c','u','c','m'],
            ['a','c','a','t'],
            ['t',' e','t','k']]
	word='cat'
	find_word_horizontal(crosswords,word)
```

Output
   [2,1]

In [76]:
def find_word_horizontal(crosswords, word):
  rows = len(crosswords)
  cols = len(crosswords[0])
  len_word = len(word)
  for i in range(rows):
    for j in range(cols - len_word + 1):
      match = True
      for k in range(len_word):
        if crosswords[i][j+k] != word[k]:
          match = False
          break
      if match :
          return(i, j)
  return None

crosswords=[['s','d','o','g'],
            ['c','u','c','m'],
            ['a','c','a','t'],
            ['t',' e','t','k']]
word='cat'
find_word_horizontal(crosswords,word)

(2, 1)

5. ให้เขียนฟังก์ชัน find_word_vertical ซึ่งจะรับ list ขนาด 2 มิติ ของตัวอักษร (คล้ายกับเกม cross word) และ word ซึ่งเป็น string เป็น argument โดยฟังก์ชันนี้ จะค้นหาตามคอลัมน์ของ list เพื่อหาตำแหน่งที่มีอักษรตรงกับคำใน word ถ้าพบ จะส่งคืน row index และ column index ของตัวอักษรแรก ถ้าไม่พบจะส่งคืน None

ตัวอย่าง
```
	crosswords=[['s','d','o','g'],
              ['c','u','c','m'],
              ['a','c','a','t'],
              ['t',' e','t','k']]
	word='cat'
	find_word_vertical(crosswords,word)
```

Output
   [1,0]

In [78]:
def find_word_vertical(crosswords, word):
  rows = len(crosswords)
  cols = len(crosswords[0])
  len_word = len(word)
  for i in range(cols):
    for j in range(rows - len_word +1):
      match = True
      for k in range(len_word):
        if crosswords[j+k][i] != word[k]:
          match = False
          break
      if match:
          return (j,i)
  return None

crosswords=[['s','d','o','g'],
              ['c','u','c','m'],
              ['a','c','a','t'],
              ['t',' e','t','k']]
word='cat'
find_word_vertical(crosswords,word)

(1, 0)

6.	ให้เขียนฟังก์ชัน capitalize_word_in_crossword จะรับ list ขนาด 2 มิติ ของตัวอักษร (คล้ายกับเกม cross word) และ word ซึ่งเป็น string เป็น argument โดยฟังก์ชันนี้ จะค้นหาตาม row และ column ของ list เพื่อหาตำแหน่งที่มีอักษรตรงกับคำใน word ถ้าพบจะเปลี่ยนเป็นตัวใหญ่และ และส่งคืน list ที่แก้ไขแล้ว แต่ถ้าไม่เจอจะส่ง list เดิมกลับมา ให้ใช้ฟังก์ชันตามข้อ 3 และ 4 ช่วย

```
crosswords=[['s','d','o','g'],
            ['c','u','c','m'],
            ['a','x','a','t'],
            ['t','e','t','k']]
word='cat'
capitalize_word_in_crossword(crosswords,word)
```
จะส่งค่ากลับ
```
 [['s','d','o','g'],
  ['C','u','c','m'],
  ['A','x','a','t'],
  ['T','e','t','k']]
```
```
crosswords=[['s','d','o','g'],
            ['c','u','c','m'],
            ['a','c','a','t'],
            ['t','e','t','k']]
word='cat'
capitalize_word_in_crossword(crosswords,word)
จะส่งค่ากลับ                   
[['s','d','o','g'],
 ['c','u','c','m'],
 ['a','C','A','T'],
 ['t','e','t','k']]
```

In [89]:
def capitalize_word_in_crossword_Horizontal(crosswords, word):
    position= find_word_horizontal(crosswords,word)
    rows,cols=position
    for i in range(len(word)):
        crosswords[rows][cols+i] = crosswords[rows][cols+i].upper()
    return(crosswords)
crosswords = [ ['s', 'd', 'o', 'g'],
    ['a', 'u', 'a', 'm'],
    ['a', 'c', 'a', 't'],
    ['t', 'e', 't', 'k']]
word = 'cat'
if(find_word_horizontal(crosswords,word) != None):
    result = capitalize_word_in_crossword_Horizontal(crosswords, word)
    for i in range(len(result[0])):
        print(result[i])
else:
    for i in range(len(crosswords[0])):
        print(crosswords[i])
print()


def capitalize_word_in_crossword(crosswords, word):
    position= find_word_vertical(crosswords,word)
    rows,cols=position
    for i in range(len(word)):
        crosswords[rows+i][cols] = crosswords[rows+i][cols].upper()
    return(crosswords)
crosswords = [['s', 'd', 'o', 'g'],
    ['c', 'u', 'c', 'm'],
    ['a', 'c', 'a', 't'],
    ['t', 'e', 't', 'k']]
word = 'cat'
if(find_word_vertical(crosswords,word) != None):
    result = capitalize_word_in_crossword(crosswords, word)
    for i in range(len(result[0])):
        print(result[i])
else:
    for i in range(len(crosswords[0])):
        print(crosswords[i])

['s', 'd', 'o', 'g']
['a', 'u', 'a', 'm']
['a', 'C', 'A', 'T']
['t', 'e', 't', 'k']

['s', 'd', 'o', 'g']
['C', 'u', 'c', 'm']
['A', 'c', 'a', 't']
['T', 'e', 't', 'k']